<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">THPT VÕ THỊ SÁU</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Trang chủ</a>
                </li>
                {% for y in years %}
                <li class="nav-item">
                    <a class="nav-link" href="/?year_id={{y.id}}">{{ y.name }}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link active" href="/classA">&#xf51c; Lớp học A</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link active" href="/classB">&#xf51c; Lớp học B</a>
                </li>


                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-info" href="/"> <img src="{{current_user.avatar}}" width="25"
                                                                 class="rounded"/> Chào {{ current_user.username }}!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href="/logout">Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-info" href="/login">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href="/register">Đăng ký</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/cart"> &#128722; <span class="badge bg-danger cart-counter">Gio hàng</span></a>
                </li>
            </ul>
            <form class="d-flex" method="get" action="/">
                <input class="form-control me-2" type="text" name="kw" placeholder="Nhập từ khóa...">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
        </div>
    </div>
</nav>